.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/**/*.d.ts
.github/**
.idea/**
media/*.psd
media/*.sketch